body {
	background-image: url("http://baustaedter.com/wp-content/uploads/2013/05/arena_concept.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.CenterBox {
	background-color: rgb(255, 255, 255);
	opacity: 0.5;
	width: 50%;
	height: 10%;
	position: relative;
    left: 25%;
    top: 15%;
	border-style: solid;
    border-width: 1px;
	border-bottom-color: rgb(255, 0, 0);
}